* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 32px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
}

.all-container {
	display: grid;
	grid-template-columns: 30vw auto auto;
	gap: 12px;
}

.preview-container>div {
	max-width: 100% !important;
}

.figure-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
	/* grid-auto-flow: row dense; */
}

.figure {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 12px;

	max-width: 100%;
	max-height: 300px;
	height: min-content;
	overflow-y: auto;
	overflow-x: hidden;

	cursor: pointer;
	transition: 0.3s ease-out;
}

.figure.big {
	max-height: 600px;
	grid-column: 1 / span 3;
}

.figure:hover {
	background: #B9D9F8;
}

.figure figcaption {
	font-size: smaller;
	color: #777;
}

.figure:hover figcaption {
	color: black;
}

.selected-abstract,
.figure {
	padding: 12px;
	border: 1px solid #bbb;
	border-radius: 4px;
	background: white;
}

.selected-abstract {
	max-height: 200px;
	overflow-y: auto;
	margin: 12px 0;
}

.paper-link {
	background: #0366d6;
	color: white;
	opacity: 0.5;
	font-size: small;
	border-radius: 200px;
	padding: 0 8px 2px;
}

.paper-link:hover {
	opacity: 1;
	text-decoration: none;
}

li .paper-link {
	position: absolute;
	left: 32px;
}

li {
	margin: 12px 0;
	margin-left: 54px;
	list-style-type: none;
}

figure img {
	max-width: 100%;
}

summary {
	cursor: pointer;
}

form {
	width: fit-content !important;
}

.oi-ec050e select {
	width: 33%;
}

a {
	color: #0366d6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

::-webkit-scrollbar {
	width: 6px;
	background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}

::-webkit-scrollbar-thumb:active {
	background: #333;
}